.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  width: 100%; /* Ensures the container spans the full width */
  text-align: center;
  padding: 20px; /* Adds padding for spacing */
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}